body,td,tr{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.table{
    border-collapse: collapse;
    border: 2px solid;
    width: 100%;
    margin: 0px 5px;
    table-layout: fixed;
}
.table tr{
    border: 1px solid;
    word-wrap: break-word;
}
.table td{
    border: 1px solid black;
    padding: inherit;
}